/*-------- GENERAL --------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------- UTILITY --------*/
.dFlex{
    display: flex;
}
.align{
    align-items: center;
    justify-content: center;
}

/*-------- HEADER --------*/
header{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------- MAIN --------*/
main{
    height: calc(100vh - 200px);
}
.containerList{
    width: 80%;
    border-radius: 10px;
}
ul li{
    list-style: none;
    padding: 15px;
    margin-top: 5px;
    border-radius: 10px;
}


li{
    background-color: white;
    border: 1px solid black;
    color: black;
}
button{
    margin-top: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border: 0;
    padding: 15px;
    background-color: green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

footer{
    height: 100px;
    background-color: black;
}
