/*-------- GENERAL --------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------- UTILITY --------*/
.dFlex{
    display: flex;
}
.align{
    align-items: center;
    justify-content: center;
}

/*-------- HEADER --------*/
header{
    height: 100px;
    background-color: #404b57;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------- MAIN --------*/
main{
    height: calc(100vh - 200px);
}
.containerList{
    width: 80%;
    border-radius: 10px;
}

li{
    text-align: center;
    list-style: none;
    padding: 9px;
    margin-top: 4px;
    border-radius: 12px;
    background-color: #404b57;
    border: 1px solid black;
    color: white;
}

button{
    margin-top: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border: 0;
    padding: 15px;
    background-color: green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

footer{
    height: 100px;
    background-color: #404b57;
}

@media screen and (max-width: 476px) {
    h1 {
        font-size: 1.5rem; 
        text-align: center;
    }
}